:local .saturdayContainer {
    height: 123px;
    background-image: url('../../../golden-color.jpg');
    padding: 10px;
}

:local .inner {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 0px;

    table {
        font-size: 100%;

        tr:first-child {
            visibility: collapse;
        }
    }
}