.collpased {
    visibility: collapse;
}
:local .mainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

:local .leftSide {
    width: 50%;
}

:local .rightSide {
    width: 50%;
}

:local .updatesContainer {
    height: calc(100% - 335px);
    // max-height: 100%;
    flex-grow: 1;
    border: 1px solid #0000003d;
}

:local .rssFeedsContainer {
    height: 100%;
    flex-grow: 1;
    border: 1px solid #0000003d;
}