:local .app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:local .menuButton {
    height: 10px;
    padding: 10px !important;
}

:local .appHeader {
    display: flex;
    flex-direction: row;
    background-color: #222;
    height: 60px;
    padding: 6px 26px;
    color: white;
    text-align: right;
}

:local .timeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

:local .saturdayBorder {
    background-image: url('../golden-color.jpg');
    height: 8px;
}

:local .appTitle {
    margin: 0px;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: 16px;
}

:local .sideBar {
    padding-top: 0px !important;
    height: calc(100% - 60px);
    margin: 0 !important;
    border: 0 !important;
    border-top: 1px solid rgba(34, 36, 38, .15) !important;
}

:local .userCircle {
    font-size: 2.3em !important;
    margin: 13px !important;
}

:local .barsIcon {
    font-size: 1.5em !important;
    align-self: baseline !important;
    margin-right: 4px !important;
}

:local .content {
    height: 100%;
    background-color: rgb(218, 218, 218) !important;
}

:local .basicSegment {
    height: 100%;
}