:local .segment {
    height: 100%;
}

:local .contentContainer {
    display: flex;
    direction: rtl;
    height: 100%;
}

:local .list {
    width: 10%;
}

:local .listItem {
    border: 1px grey;
    margin-bottom: 2px;
    width: 100%;
    height: 30px;
    font-size: 3vh;
    text-align: center;
    border-style: outset;
}

:local .image {
    max-width: 90%;
    max-height: 100%;
    display: block;
    width: auto;
    height: auto;
}

:local .content {
    height: 100%;
}