:local .saturdayContainer {
    height: 234px;
}

:local .inner {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 8px;
}