:local .rssScroll {

    :local .item {
        text-align: right;
        direction: rtl;

        :local .title {
            font-weight: bolder;
            font-size: 1.5em;
        }

        :local .content {
            width: 80%;
            margin-left: auto;
            font-size: 1em;

            img {
                max-width: 150px;
                max-height: 150px;
            }
        }
    }

    :local .endDelimit {
        padding-left: 100%;
        padding-top: 30px;
        background-color: gray;
    }
}